# Gradle files
.gradle/
build/

# Local configuration files (e.g., SDK paths, keystore)
local.properties
/local.properties
key.properties
/key.properties

# Android Studio/IntelliJ IDEA specific files
*.iml
.idea/
.idea/modules.xml
.idea/workspace.xml
.idea/caches/
.idea/libraries/
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# macOS specific file
.DS_Store

# Build output directories
build/
captures/
.externalNativeBuild/
.cxx/

# Keystore files (for signing APKs)
*.jks

# Proguard directory
proguard/

# Log files
*.log